{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #F9E5B0, #F7D65F);
    color: #3E1E08;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.text {
    text-align: left;
    font-family: Arial;
    line-height: 28px;
    font-size: 17px;
}

.logo {
    max-width: 50%;
    padding: 20px;
    border-radius: 20%;
}

.getstarted {
    background-color: #3E1E08;
    color: #ffffff;
    padding: 20px 35px;
    margin-top: 20px;
    border: none;
    border-radius: 8%;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}