html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #ffe79f, #fffa9d);
    color: #fff;
    margin: 100px auto 100px;
    border-radius: 20px;
    padding: 40px 35px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 600px; /* Adjust as needed to ensure footer is pushed down */
}

.slider-container {
    position: relative;
    width: 90%;
    max-width: 470px;
    margin: 20px auto; /* Adjust margin as needed */
    overflow: hidden;
    border-radius: 20px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider {
    background-color: #ebfffc;
    color: #3E1E08;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    height: 450px; /* Adjust height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.learnimage {
    max-width: 300px;
}

nav {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    border-radius: 50px;
}

ul {
    background-color: #ebfffc;
    padding: 1em;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    border-radius: 50px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    padding: 10px;
}

.nav-icon {
    width: 50px;
}